
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --black--color: #212121;
    --primary-color: rgb(136,88,237);
    --font: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    font-family: var(--font);
}

body {
    font-size: 1.6rem;
}